VITE_SUPABASE_URL=https://flbsdwuxamkglrllckcz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZsYnNkd3V4YW1rZ2xybGxja2N6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQxNjc2OTIsImV4cCI6MjA3OTc0MzY5Mn0.CKF53T2z6Nk2wJqeHfFcjwoopwCriT1rDRZbqVQp50c
VITE_SUPABASE_WORKSHOP_ID=workshop-acordos-2026-h2
